body {
	display: flex;
	justify-content: center;
}

#carousel {
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 2000px;
}

li {
	float: left;
}